{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
